___

<img src='../BootcampBack.png' /></a>

# Ecommerce Purchases Exercise

This Excercise is built on some Data about crime, please try to answere the proposed questions by following the instructions. Most of the the tasks can be solved in different ways and they will become progressively harder in order to allow you to better test the acquired skills.

Hint: All of these questions can be answered with one line of code.

____
** Import pandas and read in the crime .csv file and set it to a DataFrame called crime. **

In [12]:
import pandas as pd

In [13]:
crime=pd.read_csv('crime.csv', encoding='iso-8859-1')

**Check the head of the DataFrame**

In [3]:
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

**How many data elements are there? (the product of rows by columns)**

In [7]:
a=crime.shape
b=a[0]*a[1]
b

5424241

**What is the standard deviation of Lat?**

In [20]:
Lat=crime['Lat']
Lat.std()

2.1597656389489366

**What were the median and range of Long?**

In [22]:
Long=crime['Long']
Long.median()

-71.07752376

In [24]:
Long.describe()

count    299074.000000
mean        -70.908272
std           3.493618
min         -71.178674
25%         -71.097135
50%         -71.077524
75%         -71.062467
max          -1.000000
Name: Long, dtype: float64

**Show all "Vandalism" OFFENSE_CODE_GROUP**

In [36]:
offense=crime[crime['OFFENSE_CODE_GROUP']=='Vandalism']
offense
offense.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
43,I182070887,1402,Vandalism,VANDALISM,D4,149,NaN,2018-09-01 12:00:00,2018,9,Saturday,12,Part Two,W NEWTON ST,42.343858,-71.079535,"(42.34385799, -71.07953502)"
47,I182070881,1402,Vandalism,VANDALISM,C11,356,NaN,2018-09-03 15:00:00,2018,9,Monday,15,Part Two,GENEVA AVE,42.298489,-71.063133,"(42.29848866, -71.06313294)"
57,I182070872,1402,Vandalism,VANDALISM,C6,205,NaN,2018-08-31 17:00:00,2018,8,Friday,17,Part Two,A ST,42.347543,-71.050662,"(42.34754258, -71.05066210)"
104,I182070822,1402,Vandalism,VANDALISM,C6,231,NaN,2018-09-03 13:44:00,2018,9,Monday,13,Part Two,E SEVENTH ST,42.332385,-71.030161,"(42.33238533, -71.03016099)"

**How many "D4" DISTRICT?**

In [42]:
district=crime[crime['DISTRICT']=='D4']
district.head()
district.count()

INCIDENT_NUMBER        41915
OFFENSE_CODE           41915
OFFENSE_CODE_GROUP     41915
OFFENSE_DESCRIPTION    41915
DISTRICT               41915
REPORTING_AREA         41915
SHOOTING                  56
OCCURRED_ON_DATE       41915
YEAR                   41915
MONTH                  41915
DAY_OF_WEEK            41915
HOUR                   41915
UCR_PART               41908
STREET                 40228
Lat                    38396
Long                   38396
Location               41915
dtype: int64

**Can you count the number of crimes per day of the week?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [89]:
crime['DAY_OF_WEEK'].value_counts()

Friday       48495
Wednesday    46729
Thursday     46656
Tuesday      46383
Monday       45679
Saturday     44818
Sunday       40313
Name: DAY_OF_WEEK, dtype: int64

**What are the 6 most common OFFENSE_CODE_GROUP?**

In [87]:
offense=crime['OFFENSE_CODE_GROUP'].value_counts(sort=True)
offense.head(6)

Motor Vehicle Accident Response    37132
Larceny                            25935
Medical Assistance                 23540
Investigate Person                 18750
Other                              18075
Drug Violation                     16548
Name: OFFENSE_CODE_GROUP, dtype: int64

**What is the HOUR of crime with INCIDENT_NUMBER I182070822?**

In [197]:
crime[crime['INCIDENT_NUMBER']=='I182070822']['HOUR']

104    13
Name: HOUR, dtype: int64

**Verify that the DELHI ST street belongs to DISTRICT B3**

In [118]:
crime[crime['STREET']=='DELHI ST']['DISTRICT'].value_counts()

B3    92
Name: DISTRICT, dtype: int64

**How many crimes was committed in DISTRICT C11 on Monday?**

In [16]:
crime[(crime['DISTRICT']=='C11')& (crime['DAY_OF_WEEK']=='Monday')].count()
#or
#crime[crime['DISTRICT']=='C11']
#t2=t['DAY_OF_WEEK'].value_counts()
#t2['Monday']

INCIDENT_NUMBER        6195
OFFENSE_CODE           6195
OFFENSE_CODE_GROUP     6195
OFFENSE_DESCRIPTION    6195
DISTRICT               6195
REPORTING_AREA         6195
SHOOTING                 13
OCCURRED_ON_DATE       6195
YEAR                   6195
MONTH                  6195
DAY_OF_WEEK            6195
HOUR                   6195
UCR_PART               6192
STREET                 6043
Lat                    5964
Long                   5964
Location               6195
dtype: int64

**Hard: How many crimes was committed in a DISTRICT starting with A?**

In [26]:
crime['DISTRICT'].dropna().str.startswith('A').value_counts()
#or
#C=crime['DISTRICT'].dropna()
#def my_filter(val):
   # return val[0]

#C[C.apply(my_filter)=='A'].count()

False    261542
True      55766
Name: DISTRICT, dtype: int64

**Hard: What are the top 5 crimes committed exactly at 07:00:00?**

In [34]:
crime[crime['OCCURRED_ON_DATE'].apply(lambda x:x.split()[1])=='07:00:00'].head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
175,I182070746,1402,Vandalism,VANDALISM,C11,462,NaN,2018-08-31 07:00:00,2018,8,Friday,7,Part Two,BULLARD ST,42.302188,-71.073650,"(42.30218780, -71.07365004)"
345,I182070549,301,Robbery,ROBBERY - STREET,B2,282,NaN,2018-09-02 07:00:00,2018,9,Sunday,7,Part One,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
346,I182070549,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,B2,282,NaN,2018-09-02 07:00:00,2018,9,Sunday,7,Part One,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
505,I182070365,3115,Investigate Person,INVESTIGATE PERSON,E13,651,NaN,2018-08-31 07:00:00,2018,8,Friday,7,Part Three,BOYNTON ST,42.305421,-71.113253,"(42.30542129, -71.11325289)"
664,I182070203,3114,Investigate Property,INVESTIGATE PROPERTY,D4,619,NaN,2018-09-01 07:00:00,2018,9,Saturday,7,Part Three,SAINT STEPHEN ST,42.342313,-71.086964,"(42.34231311, -71.08696370)"

# Great Job!